.main-container {
    display: flex;
    height: 100vh;
}

/*Project Panel (left)*/
.project-panel {
    width: 20%;
    background: #f8fafc;
    border-right: solid #e2e8f0;
    display: flex;
    flex-direction: column;
}

.preview-panel {
    width: 50%;
    background: #f1f5f9;
    overflow-y: auto;
}

.tools-panel {
    width: 30%;
    background: white;
    border-left: solid #e2e8f0;
    overflow-y: auto;
}